*{
    box-sizing: border-box;
}

body{
    background-image: url('imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#overlay{
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

#weather-box{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    padding: 40px;
    z-index: 99;
    position: relative;
}

#w-icon{
   display: flex;
   gap: 10px;
}
#w-icon img{
    align-self: center;
}

#search-area{
    width: 100%;
    display: flex;
    gap: 10px;
}
#search-bar{
    width: 90%;
    border-radius: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

#search-area button{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    border: none;
    color: white;
}
input{
    color: #fff;
    padding: 20px;
    font-size: larger;
}
input::placeholder{
    color:white;
    font-size: larger;
}

#weather-info{
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
}

#weather-deg{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
 #weather-other{
    font-family: monospace;
    font-weight: 600;
    font-size: large;
 }
 #desc{
    text-transform: capitalize;
 }

 @media only screen and (max-width: 600px) {
    #weather-box{
        width: 90%;
    }
    #weather-deg{
        font-size: larger;
    }
 }
 .loading{
    visibility: hidden;
    position: relative;
 }

 .loading::after{
    visibility: visible;
    content: "Loading...";
    position: absolute;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    top: 50%;
    left: 20%;
    font-weight: 900;
    height: auto;
 }